.wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  background: white;
  padding: 25px;
}
.notFoundWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tabsWrapper {
  height: 80%;
  width: 100%;
  overflow-y: auto;
  padding-left: 10px;
}
