.wrapper {
  height: 100%;
  width: 100%;
  background: white;
}
.formWrapper {
  margin-top: 25px;
}
.inputWrapper {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}
.inputBoxWrapper {
  height: 50px;
  width: 250px;
  margin: 0 30px;
}
.open {
  opacity: 1;
  z-index: 1;
}
.close {
  opacity: 0;
  z-index: -1;
}
.submitButton {
  height: 100%;
  width: 100%;
  background: none;
}

.inputBoxWrapper input[type="file"] {
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background: none;
  cursor: pointer;
}
.fileUpload {
  height: 100%;
  width: 100%;
  border: 2px solid #ff4433;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-left: 20px;
}
