.wrapper {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper h1 {
  cursor: pointer;
}
.icons {
  height: 100%;
  display: flex;
  margin-right: 25px;
}
.iconWrapper {
  height: 100%;
  width: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.loginWrapper {
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.iconText {
  transition: all 0.2s ease-in;
}
.iconWrapper:hover > .iconText {
  color: #ff4433;
}
.iconWrapper p {
  font-size: 0.9em;
}
.iconWrapper i:hover {
  color: #ff4433;
}
.icon {
  font-size: 35px;
  margin-bottom: 5px;
}
.hoverBox {
  height: 100px;
  width: 100%;
  margin-top: 15px;
  background: #ff4433;
  position: absolute;
  top: 75%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.innerHoverBox {
  height: 100%;
  width: 100%;
  margin-top: 5px;
  background: white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.innerHoverBox h4 {
  transition: all 0.2s ease-in;
}
.innerHoverBox h4:hover {
  color: #ff4433;
}
.hoverBox::before {
  height: 40px;
  width: 40px;
  background: #ff4433;
  content: "";
  display: block;
  position: absolute;
  transform: rotate(135deg);
  top: 0%;
  left: 30px;
  z-index: -1;
}

.dropdown:hover .dropdownnav {
  opacity: 1;
  transform: scaleY(1);
}

.dropdownnav {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.15s ease-in-out;
  z-index: 1;
}
